<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trouvaille-Trending Page</title>
    <script src="https://kit.fontawesome.com/36b147cf25.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Playfair+Display|Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/images/css/style.css">
</head>

<body>
    <section id='pageTop'>
        <header>
            <h2 id='placeName'>Hong Kong</h2>
        </header>
        <div id='scrolling-wrapper'>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
            <div class='filterTab'>
                <div class='tags'>
                    <button>Placeholder</button>
                </div>
            </div>
        </div>
        <div id='filterBar'> <strong>Filter By:</strong> Trending, Monthly</div>
    </section>
    {{{body}}}


</body>

</html>